<h2 style="text-align:center; margin-top: 40px; margin-left:40px ;">Welcome to quicktest choose from the given list of tests to evaluate yourself in a technology</h2>

  <table style="width: 50%;
  height: inherit;
    position: relative;
    left: 30%;
    margin-left: -50px;border-collapse: separate; border-spacing: 1.5cm 0.5em;" *ngFor="let s of subjects" cellPadding="5">
    <mdb-card>
  <mdb-card-body>
    <tr>
      <td style="font-size: 30px;">{{s.subname}}</td>
      <td *ngIf="message" style="padding-top:30px; padding-left:30px;"><button mdbBtn color="info" block="true" class="my-4" [routerLink]="['/question/', s.id]">Take Test</button></td>
      <td *ngIf="!message" style="padding-top:30px; padding-left:30px;"><button mdbBtn color="info" block="true" class="my-4" [routerLink]="['/login']">Take Test</button></td>  
    </tr>
    <tr>
      <td>{{s.description}}</td>
    </tr>
    <br>
    <br>
  </mdb-card-body>
</mdb-card>
  </table> 
<!--
<mdb-card style="
width: 50%;
height: inherit;
  position: relative;
  left: 30%;
  margin-left: -50px;
  top: 30%;
  margin-top: -50px;">
  <mdb-card-body style="height: inherit; width:100%; position: relative;
  left: 15%;
  margin-left: -80px;
  margin-top: -40px;">
  <table cellPadding="10">
    <tr>
      <td style="font-size: 30px;">SQL</td>
      <td style="padding-top:30px; padding-left:30px;"><button mdbBtn color="info" block="true" class="my-4" type="submit">Take Test</button></td>  
    </tr>
    <tr>
      <td>Test yourself on concepts like collections thread and memory management</td>
    </tr>
  </table>
   </mdb-card-body>
</mdb-card>
<mdb-card style="
width: 50%;
height: inherit;
  position: relative;
  left: 30%;
  margin-left: -50px;
  top: 40%;
  margin-top: -50px;">
  <mdb-card-body style="height: inherit; width:100%; position: relative;
  left: 15%;
  margin-left: -80px;
  margin-top: -40px;">
  <table cellPadding="10">
    <tr>
      <td style="font-size: 30px;">PHP</td>
      <td style="padding-top:30px; padding-left:30px;"><button mdbBtn color="info" block="true" class="my-4" type="submit">Take Test</button></td>  
    </tr>
    <tr>
      <td>Test yourself on concepts like collections thread and memory management</td>
    </tr>
  </table>
   </mdb-card-body>
</mdb-card>
<mdb-card style="
width: 50%;
height: inherit;
  position: relative;
  left: 30%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;">
  <mdb-card-body style="height: inherit; width:100%; position: relative;
  left: 15%;
  margin-left: -80px;
  margin-top: -40px;">
  <table cellPadding="10">
    <tr>
      <td style="font-size: 30px;">C/C++</td>
      <td style="padding-top:30px; padding-left:30px;"><button mdbBtn color="info" block="true" class="my-4" type="submit">Take Test</button></td>  
    </tr>
    <tr>
      <td>Test yourself on concepts like collections thread and memory management</td>
    </tr>
  </table>
   </mdb-card-body>
</mdb-card>
<mdb-card style="
width: 50%;
height: inherit;
  position: relative;
  left: 30%;
  margin-left: -50px;
  top: 60%;
  margin-top: -50px;">
  <mdb-card-body style="height: inherit; width:100%; position: relative;
  left: 15%;
  margin-left: -80px;
  margin-top: -40px;">
  <table cellPadding="10">
    <tr>
      <td style="font-size: 30px;">Python</td>
      <td style="padding-top:30px; padding-left:30px;"><button mdbBtn color="info" block="true" class="my-4" type="submit">Take Test</button></td>  
    </tr>
    <tr>
      <td>Test yourself on concepts like collections thread and memory management</td>
    </tr>
  </table>
   </mdb-card-body>
</mdb-card>
<mdb-card style="
width: 50%;
height: inherit;
  position: relative;
  left: 30%;
  margin-left: -50px;
  top: 70%;
  margin-top: -50px;">
  <mdb-card-body style="height: inherit; width:100%; position: relative;
  left: 15%;
  margin-left: -80px;
  margin-top: -40px;">
  <table cellPadding="10">
    <tr>
      <td style="font-size: 30px;">C#/.net</td>
      <td style="padding-top:30px; padding-left:30px;"><button mdbBtn color="info" block="true" class="my-4" type="submit">Take Test</button></td>  
    </tr>
    <tr>
      <td>Test yourself on concepts like collections thread and memory management</td>
    </tr>
  </table>
   </mdb-card-body>
</mdb-card>
-->