<!--Navbar-->
<mdb-card>
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false" Height="400">

    <!-- Navbar brand -->
    <mdb-navbar-brand style="margin-left:20px ;" ><a style="font-size:35px;font-weight: 400; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="navbar-brand" href="#">QuickTest</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>About Us</a>
        </li>
      </ul>
      <button type="button" mdbBtn color="dark" mdbWavesEffect>Login</button>
      <button type="button" mdbBtn color="dark" mdbWavesEffect style="margin-right: 20px;">Register</button>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
</mdb-card>
  <!--/.Navbar-->