<div style="text-align: center;"></div>
<mdb-card style="margin-left: 400px;margin-right: 50px;margin-top: 40px;width: 50%;">
    <mdb-card-body style="margin-left:100px ;margin-right: 100px;margin-top: 20px;">
    <h1 style="text-align:center ;font-size: 30px;font-family:Lucida Handwriting;"> Hi Admin</h1><br>
    <p style="font-size:18px;text-align: center;">As an Admin can perform the following actions:</p><br>
    <div style="margin-left: 60px;">   
    <ul>
        <li style="font-size:18px;">Add questions to a subject's test</li>
        <li style="font-size:18px;">Remove questions from a subject's test</li>
        <li style="font-size:18px;">Find Users based on their Location</li>
    </ul>
    <br>
    <p style="font-size:18px;margin-left: 10px;">To Access these features just click on the respective navbar icon</p>
    </div>
    </mdb-card-body>
    </mdb-card>