<mdb-card style="text-align: left;margin-left: 50px;margin-right: 50px;margin-top: 40px;">
    <mdb-card-body style="margin-left:100px ;margin-right: 100px;margin-top: 20px;">
<h1 style="text-align:center ;font-family:Lucida Handwriting;font-size: 30px;">CONTACT US</h1><br>
<p style="font-size:18px;text-align:center ;">   
    We are always happy to hear from you in case of any query reach out to us through any of the following ways
</p><br><br>
    <p style="text-align:center ;font-size:18px;">     
    Email id
    support123@quicktest.com
    </p>
    <p style="text-align:center ;font-size:18px;">
    Phone(HR)
    +91 90000 90000
    </p>
    <p style="text-align:center ;font-size:18px;">
    EPBX
    0682-2903705 / 05 / 07,
    43108987, 4917909
    </p>
    <p style="text-align:center ;font-size:18px;">
    Phone (Marketing)
    +91-712-2343718,
    8005610216, 9990012735
    </p>
    <div style="text-align: center;"><img src="assets/contactus.jpg"  width="600px"height="250px"></div><br>
    </mdb-card-body>
</mdb-card>